@import 'colors';

nav li.drawer-heading {
  padding-left: 16px;
  padding-right: 16px;

  &:not(:first-child) {
    margin-top: 32px;
  }

  .drawer-heading-text {
    color: $h-google-grey-600;
    display: table-cell;
    font-family: 'Google Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    letter-spacing: 0.25px;
    vertical-align: middle;
  }
}

// This is a hack.
// For some reason, the entire <main> element is positioned incorrectly
// (underneath the top bar) if the breadcrumb is not present.
// We have breadcrumbs on everything except the front page, and so the left
// nav was tucking under the header bar on the front page.
//
// I can not figure out what makes the inclusion of the breadcrumb the
// silver bullet here (in fact, there has to be a list element inside the
// breadcrumb, also), so instead I am giving up and hiding it.
nav.no-breadcrumb {
  height: 0px;
  visibility: hidden;

  & + h1 {
    margin-top: -88px; // Normally -80.
  }
}

body.glue-page
  .glue-header--product-marketing-one-tier.glue-is-wholly-scrolled
  .glue-header__bar {
  transform: none !important;
}

@media (max-width: 1200px) {
  .glue-header .h-c-header__bar .h-c-header__hamburger:first-child {
    display: table !important;
  }
}

.github-logo {
  width: 1em;
  height: 1em;
  margin-right: 6px;
  margin-top: -2px;
}
