---
name: release
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Set the version number.
        id: version
        run: echo ::set-output name=version::${GITHUB_REF#refs/tags/v}
      - name: Create the GitHub release.
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ github.ref }}
          release_name: api-linter ${{ steps.version.outputs.version }}
          draft: true # change to false once done thrashing
          prerelease: true # change to false once done thrashing
    outputs:
      version: ${{ steps.version.outputs.version }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
  build:
    runs-on: ubuntu-latest
    needs: release
    strategy:
      matrix:
        osarch:
          - os: linux
            arch: amd64
          - os: linux
            arch: arm
          - os: darwin
            arch: amd64
          - os: windows
            arch: amd64
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: "1.14"
      - uses: actions/checkout@v2

      # The API linter does not use these,  but we need them to build the
      # binaries.
      #
      # Mousetrap is installed individually because it is needed for the
      # Windows build. Since we are building on Linux, it is not installed
      # automatically as a dependency.
      - name: Install the cross-platform build tool.
        run: |
          go get github.com/mitchellh/gox
          go get github.com/inconshreveable/mousetrap

      # This makes the compiled binary respond correctly to `--version`
      # in the CLI.
      - name: Set the version number.
        id: version
        run: |
          cat > cmd/api-linter/version.go <<EOF
          package main
          var version = "${{ needs.release.outputs.version }}"
          EOF

      # Platforms to build on are hard-coded here.
      # We iterate over them separately so we can tar them and only have
      # `api-linter` as the binary name once un-tarred.
      - name: Build for the ${{ matrix.osarch.os }}/${{ matrix.osarch.arch }} platform.
        run: |
          gox -osarch ${{ matrix.osarch.os }}/${{ matrix.osarch.arch }} -output api-linter* ./... && \
          tar cvfz api-linter.tar.gz api-linter

      # This creates the GitHub release.
      # Note: A failure after this point will leave a half-completed job
      # on GitHub and probably require manual intervention.

      # Upload the binaries to the release.
      - name: Upload the ${{ matrix.osarch.os }}/${{ matrix.osarch.arch }} release.
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./api-linter.tar.gz
          asset_name: api-linter-${{ needs.release.outputs.version }}-${{ matrix.osarch.os }}-${{ matrix.osarch.arch }}.tar.gz
          asset_content_type: application/tar+gzip
