---
name: release
on:
  schedule:
    - cron: 0 20 * * 3 # Wednesdays at 20:00 UTC
  workflow_dispatch: {} # Allow manual triggering
jobs:
  inspect:
    runs-on: ubuntu-latest
    container: golang:1.14
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get release information
        id: release_tool
        run: go run ./.github/release-tool/
    outputs:
      version: ${{ steps.release_tool.outputs.version }}
      release_notes: ${{ steps.release_tool.outputs.release_notes }}
  release:
    runs-on: ubuntu-latest
    needs: inspect
    if: ${{ needs.inspect.outputs.version }}
    steps:
      - name: Create the GitHub release.
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: v${{ needs.inspect.outputs.version }}
          release_name: api-linter ${{ needs.inspect.outputs.version }}
          body: ${{ needs.inspect.outputs.release_notes }}
          draft: false
          prerelease: false
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
  build:
    runs-on: ubuntu-latest
    needs:
      - inspect
      - release
    strategy:
      matrix:
        osarch:
          - os: linux
            arch: amd64
          - os: linux
            arch: arm
          - os: darwin
            arch: amd64
          - os: windows
            arch: amd64
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: "1.14"
      - uses: actions/checkout@v3
      # The API linter does not use these,  but we need them to build the
      # binaries.
      #
      # Mousetrap is installed individually because it is needed for the
      # Windows build. Since we are building on Linux, it is not installed
      # automatically as a dependency.
      - name: Install the cross-platform build tool.
        run: |
          go get github.com/mitchellh/gox
          go get github.com/inconshreveable/mousetrap
      - name: Set the version number in the binary (for `api-linter --version`).
        run: |
          cat > cmd/api-linter/version.go <<EOF
          package main
          const version = "${{ needs.inspect.outputs.version }}"
          EOF
      - name: Build for the ${{ matrix.osarch.os }}/${{ matrix.osarch.arch }} platform.
        run: |
          gox -osarch ${{ matrix.osarch.os }}/${{ matrix.osarch.arch }} -output api-linter ./... && \
          tar cvfz api-linter.tar.gz api-linter*
      - name: Upload the ${{ matrix.osarch.os }}/${{ matrix.osarch.arch }} release.
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./api-linter.tar.gz
          asset_name: api-linter-${{ needs.inspect.outputs.version }}-${{ matrix.osarch.os }}-${{ matrix.osarch.arch }}.tar.gz
          asset_content_type: application/tar+gzip
